@import "../../../../tokens/build/scss/variables";
.menu-item {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: $margin-sm;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px !important;
    height: 48px;
    aspect-ratio: 1/1;
    padding: 12px !important;
  }
  div {
    text-align: left;
    small {
      color: $text-color-secondary;
    }
  }
}
