<div class="d-flex flex-wrap g-0 pb-4 align-items-stretch">
  <section class="h-100 col-lg-8 col-sm-12">
    <section id="introduction">
      <app-card>
        <div header>
          <p nz-typography class="fs-4 heading">
            Smart, efficent Office management to streamline tasks and boost
            workplace productivity.
          </p>
        </div>
        <div body class="row col-lg-12 px-3 fw-light">
          <div class="col-lg-8">
            <p nz-typography *ngFor="let p of introParagraphs" class="m-1">
              {{ p }}
            </p>
          </div>
          <div class="col-lg-4 d-flex align-items-end">
            <img
              nz-image
              nzSrc="../../../assets/dashboardPhoto.png"
              alt=""
              width="100%"
              class=""
            />
          </div>
        </div>
      </app-card>
    </section>
    <div class="row g-0 h-50">
      <section id="birthdays" class="col-lg-6">
        <app-card height="350px">
          <div header class="d-flex justify-content-between align-items-center">
            <p class="m-1 fs-5" nz-typography>Birthdays</p>
            <div class="d-flex align-items-start text-secondary">
              <i class="fi fi-rr-calendar-day fs-6" ></i>
              <small class="ms-1"> December 2025 </small>
            </div>
          </div>
          <app-list-wrapper body height="90%" overflow="auto">
            <div class="ps-4 pe-2">
              <p nz-typography class="my-1">Today</p>
              <app-birthday-list
                *ngFor="let user of users | dateSort : 'today'"
                [data]="user"
              ></app-birthday-list>
            </div>
            <div class="ps-4 pe-2">
              <p nz-typography class="my-1">This Month</p>
              <app-birthday-list
                *ngFor="let user of users | dateSort : 'thisMonth'"
                [data]="user"
              ></app-birthday-list>
            </div>
          </app-list-wrapper>
        </app-card>
      </section>
      <section id="holidays" class="col-lg-6">
        <app-card height="350px">
          <div header class="d-flex justify-content-between">
            <p class="m-1 fs-5" nz-typography>2025 Public Holidays</p>
          </div>
          <app-list-wrapper body height="90%" overflow="auto">
            <div class="sticky-top px-4 pb-1 bg-white">
              <nz-tag
                role="button"
                *ngFor="let c of country"
                [nzColor]="c.active ? 'red' : 'default'"
                (click)="filterClick(c.key)"
                >{{ c.key }}</nz-tag
              >
            </div>
            <div class="ps-4 pe-2">
              <app-holiday-list
                *ngFor="let holiday of holidays | holidayFilter : filterKey"
                [holiday]="holiday"
              ></app-holiday-list>
            </div>
          </app-list-wrapper>
        </app-card>
      </section>
    </div>
  </section>
  <section id="todo" class="col-lg-4 col-sm-12 h">
    <app-card height="650px">
      <div class="d-flex justify-content-between align-items-center" header>
        <p class="m-1 fs-5" nz-typography>To Do List</p>
        <div class="d-flex align-items-start text-secondary">
          <i class="fi fi-rr-calendar-day fs-6"></i>
          <small nz-typography class="border-end px-2"> December 2025 </small>
          <i class="fi fi-rr-up-right-from-square fs-6 px-1"></i>
        </div>
      </div>
      <app-list-wrapper body height="95%" overflow="auto">
        <div class="px-4">
          <app-todo-list
            *ngFor="let list of todoList"
            [list]="list"
          ></app-todo-list>
        </div>
      </app-list-wrapper>
    </app-card>
  </section>
</div>


