<app-container>
  <app-header> </app-header>
<main>
  <div class="d-flex g-0 align-items-stretch ">
    <section class="col-lg-8">
      <app-card class="intro-section">
        <h3 nz-typography>
          Smart, efficent Office msnagement to streamline tasks and boost
          workplace productivity.
        </h3>
        <div class="row">
          <div class="col-7">
            <p *ngFor="let p of introParagraphs" nz-typography>{{ p }}</p>
          </div>

          <img
            nz-image
            class="col-lg-5"
            nzSrc="./../../../assets/dashboardPhoto.png"
            alt=""
          />
        </div>
      </app-card>
      <div class="d-flex g-0 align-items-stretch ">
        <div class="col-lg-6">
          <app-card height="50vh">
            
                <div
                  class="d-flex justify-content-between "
                >
                  <h5 nz-typography>Birthdays</h5>
                  <span nz-typography>December 2025</span>
                </div>
                <div>
                  <h6>Today</h6>
                  <app-birthday-list
                    *ngFor="let user of users"
                    [data]="user"
                  ></app-birthday-list>
                  <h6>This Month</h6>
                  <app-birthday-list
                    *ngFor="let user of users"
                    [data]="user"
                  ></app-birthday-list>
                </div>
              
  
          </app-card>
        </div>
        <div class="col-lg-6">
          <app-card height="50vh" class="pt-0">
                <div class="sticky-top bg-white pt-0">
                  <h5 nz-typography class="">2025 Public Holidays</h5>
                  <div class="d-blocks">
                    <nz-tag *ngFor="let c of country">{{ c }}</nz-tag>
                  </div>
                </div>

                <div>
                  <app-holiday-list
                    *ngFor="let holiday of holidays"
                    [holiday]="holiday"
                  >
                  </app-holiday-list>
                </div>
          </app-card>
        </div>
      </div>
    </section>
    <section class="col-lg-4" >
      <app-card height="100vh" overflow="auto">
            <div class="d-flex justify-content-between sticky-top bg-white">
              <h5 nz-typography>To Do List</h5>
              <div>
                <small nz-typography class="border-end">
                  <i class="fi fi-rr-calendar-day"></i>
                  December 2025
                </small>
                <i class="fi fi-rr-up-right-from-square p-1"></i>
              </div>
            </div>
            <div>
              <app-todo-list *ngFor="let list of todoList" [list]="list">
              </app-todo-list>
            </div>
      </app-card>
    </section>
  </div>
</main>

</app-container>