<div>
  <app-card>
    <div  class="">
      <div>
        <div class="d-flex justify-content-between">
          <h5 nz-typography>Customer</h5>
          <button
            nz-button
            nzType="primary"
            class=""
            nzSize="default"
            routerLink="../create"
          >
            <i class="fi fi-rr-add pe-1"></i>Create
          </button>
        </div>
        <p nz-typography class="text-secondary mb-2">
          Easily add new customer profiles by entering essential contact and
          perfercence details.
        </p>
      </div>
      <div class="col-3 pb-4">
        <label for="search">All Search</label>
        <input nz-input placeholder="Search" id="search" />
      </div>
      <div class="overflow-auto">
        <nz-table
          #Table  
          [nzShowSizeChanger]="true"
          [nzShowTotal]="range"
          [nzData]="customerData"
        >
          <thead>
            <tr>
              <th nz-typograph >ustomer Name</th>
              <th nz-typography>Inital Name</th>
              <th nz-typography>Phone Number</th>
              <th nz-typography>Fax Number</th>
              <th nz-typography>Address</th>
              <th nz-typography>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let customer of Table.data">
              <td>{{ customer.customer_name }}</td>
              <td>{{ customer.initial_name }}</td>
              <td>{{ customer.phone }}</td>
              <td>{{ customer.fax_number }}</td>
              <td>{{ customer.address }}</td>
              <td>
                <i class="fi fi-rr-edit mx-1"></i
                ><i class="fi fi-rr-trash mx-1"></i>
              </td>
            </tr>
          </tbody>
        </nz-table>
        <ng-template #range let-range="range" let-total class=" float-left">
          
          <p nz-typography>
            Showing {{ range[0]}} to {{ range[1] }} of {{ total }} entries
          </p>
          
        </ng-template>
      </div>
    </div>
  </app-card>
</div>
