<div>
  <app-card>
    <div header class="">
      <div class="d-flex justify-content-between">
        <form action="">
          <h5 nz-typography>Customer Create / Edit</h5>
          <div class="row">
            <div class="col-lg-6">
              <label for="search">All Search</label>
              <input nz-input placeholder="Search" id="search" />
            </div>
            <div class="col-lg-6">
              <label for="search">All Search</label>
              <input nz-input placeholder="Search" id="search" />
            </div>
            <div class="col-lg-6">
              <label for="search">All Search</label>
              <input nz-input placeholder="Search" id="search" />
            </div>
            <div class="col-lg-6">
              <label for="search">All Search</label>
              <input nz-input placeholder="Search" id="search" />
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <label for="search">All Search</label>
              <input nz-input placeholder="Search" id="search" />
            </div>
            <div class="col-lg-6">
              <label for="search">All Search</label>
              <input nz-input placeholder="Search" id="search" />
            </div>
            <div class="col-lg-6">
              <label for="search">All Search</label>
              <input nz-input placeholder="Search" id="search" />
            </div>
            <div class="col-lg-6">
              <label for="search">All Search</label>
              <input nz-input placeholder="Search" id="search" />
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <label for="search">All Search</label>
              <input nz-input placeholder="Search" id="search" />
            </div>
            <div class="col-lg-6">
              <label for="search">All Search</label>
              <input nz-input placeholder="Search" id="search" />
            </div>
            <div class="col-lg-6">
              <label for="search">All Search</label>
              <input nz-input placeholder="Search" id="search" />
            </div>
            <div class="col-lg-6">
              <label for="search">All Search</label>
              <input nz-input placeholder="Search" id="search" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </app-card>
</div>
