<div>
  <app-card>
    <div class="card-style card-pxy">
      <form action="">
        <h5 nz-typography class="font-bold">Customer {{ option }}</h5>
        <div class="row">
          <div class="col-lg-6 pb-3">
            <label for="CustomerName" nz-typography class="font-medium"
              >Customer Name</label
            >
            <input nz-input placeholder="Customer Name" id="CustomerName" />
          </div>
          <div class="col-lg-6 pb-3">
            <label for="InitialName" nz-typography class="font-medium"
              >Initial Name</label
            >
            <input nz-input placeholder="Initial Name" id="InitialName" />
          </div>
          <div class="col-lg-6 pb-3">
            <label for="Phone" nz-typography class="font-medium"
              >Phone Number</label
            >
            <input nz-input placeholder="Phone" id="Phone" />
          </div>
          <div class="col-lg-6 pb-3">
            <label for="Fax" nz-typography class="font-medium"
              >Fax Number</label
            >
            <input nz-input placeholder="Fax" id="Fax" />
          </div>
        </div>
        <fieldset class="row fieldset">
          <span
            class="small position-absolute bg-white"
            style="top: 0; left: 15px; transform: translateY(-50%); width: auto"
            >Address</span
          >

          <div class="col-lg-6 pb-3">
            <label for="Country" nz-typography class="font-medium"
              >Country</label
            >
            <input nz-input placeholder="Country" id="Country" />
          </div>
          <div class="col-lg-6 pb-3">
            <label for="Country" nz-typography class="font-medium"
              >Country / State</label
            >
            <input nz-input placeholder="Country" id="Country" />
          </div>
          <div class="col-lg-6 pb-3">
            <label for="PostalCode" nz-typography class="font-medium"
              >Postal Code</label
            >
            <input nz-input placeholder="Postal Code" id="PostalCode" />
          </div>
          <div class="col-lg-6 pb-3">
            <label for="UnitNumber" nz-typography class="font-medium"
              >Unit Number</label
            >
            <input nz-input placeholder="Unit Number" id="UnitNumber" />
          </div>
          <div class="col-lg-6 pb-3">
            <label for="Floor" nz-typography class="font-medium"
              >Floor Number</label
            >
            <input nz-input placeholder="Floor Number" id="Floor" />
          </div>
          <div class="col-lg-6 pb-3">
            <label for="Street" nz-typography class="font-medium"
              >Street Number</label
            >
            <input nz-input placeholder="Street Number" id="Street" />
          </div>
        </fieldset>
        <div class="row">
          <div class="col-lg-6 pb-3">
            <label for="search" nz-typography class="font-medium"
              >Relationship SVP Level</label
            >
            <nz-select nzPlaceHolder="Please Select" class="d-block">
              <nz-option nzValue="Opt1" nzLabel="Option One"></nz-option>
              <nz-option nzValue="Opt2" nzLabel="Option Two"></nz-option>
            </nz-select>
          </div>
          <div class="col-lg-6 pb-3">
            <label for="Payment" nz-typography class="font-medium"
              >Payment Terms</label
            >
            <input nz-input placeholder="Payment Terms" id="Payment" />
          </div>
          <div class="col-lg-6 pb-3">
            <label for="IBMAgreement" nz-typography class="font-medium"
              >IBM Agreement Number</label
            >
            <input
              nz-input
              placeholder="IBM Agreement Number"
              id="IBMAgreement"
            />
          </div>
          <div class="col-lg-6 pb-3">
            <label for="IBMCustomer" nz-typography class="font-medium"
              >IBM Customer Number</label
            >
            <input
              nz-input
              placeholder="IBM Customer Number"
              id="IBMCustomer"
            />
          </div>
          <div class="col-lg-6 pb-3">
            <label for="IBMSite" nz-typography class="font-medium"
              >IBM Site Number</label
            >
            <input nz-input placeholder="IBM Site Number" id="IBMSite" />
          </div>
          <div class="col-lg-6 pb-3">
            <label for="Anniversary" nz-typography class="font-medium"
              >Anniversary</label
            >
            <nz-date-picker class="d-block"></nz-date-picker>
          </div>
        </div>
        <fieldset class="d-flex flex-column gap-4 fieldset">
          <span
            class="small position-absolute bg-white"
            style="
              top: 0;
              left: 15px;
              transform: translateY(-50%);
              width: fit-content;
            "
            >Contact Person</span
          >
          <div>
            <button nzType="primary" (click)="callModal('Add Contact Person')" nz-button>
              <i class="fi fi-rr-add p-1"></i>Add Contact Person
            </button>
            <nz-modal
              [(nzVisible)]="isVisible"
              [nzTitle]="modalTitle"
              nzCloseIcon="close"
              (nzOnCancel)="toggleModal()"
              nzNoAnimation
            >
              <ng-container *nzModalContent>
                <div class="pb-3">
                  <label for="contactName" nz-typography class="font-medium"
                    >Contact Name</label
                  >
                  <input nz-input placeholder="Contact Name" id="contactName" />
                </div>
                <div class="pb-3">
                  <label for="contactEmail" nz-typography class="font-medium"
                    >Contact Email</label
                  >
                  <input
                    nz-input
                    placeholder="Contact Email"
                    id="contactEmail"
                  />
                </div>
                <div class="pb-3">
                  <label for="contactPhone" nz-typography class="font-medium"
                    >Contact Phone</label
                  >
                  <input
                    nz-input
                    placeholder="Contact Phone"
                    id="contactPhone"
                  />
                  
                </div>
                <label nz-checkbox>Is this important contact</label>
              </ng-container>
              <ng-container *nzModalFooter>
                <button nz-button (click)="toggleModal()">Cancel</button>
                <button nz-button nzType="primary" (click)="toggleModal()">
                  Create
                </button>
              </ng-container>
            </nz-modal>
          </div>
          <div class="row g-2 align-items-stretch">
            <div class="col-lg-4" *ngFor="let contact of contacts">
              <app-contact-person-card
                [contact]="contact" (edit)="callModal('Edit Contact Person')" (delete)="delete()"
              ></app-contact-person-card>
            </div>
          </div>
        </fieldset>
        <div class="d-flex justify-content-end gap-2">
          <button nz-button nzType="default" routerLink="../list">
            Cancel
          </button>
          <button nz-button nzType="primary" routerLink="../list">
            Create
          </button>
        </div>
      </form>
    </div>
  </app-card>
</div>
