@import "../../../../tokens/build/scss/variables";
.card-container {
  box-shadow: 0px 3px 5px 1px $neutral-5;
  border-radius: $border-radius-base;
  background: $neutral-1;
  line-height: normal;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-gutter: stable;
  &::-webkit-scrollbar {
    width: 5px;
    height: 20px;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.13);
    border-radius: 10px;
  }
}
