@import "../../../../tokens/build/scss/variables";
.card-container{
  overflow: hidden;
  padding: $padding-md;
  box-shadow: 0px 1px 10px 1px $neutral-5;
  border-radius: $border-radius-base;
  background: $neutral-1;
  line-height: normal;
  box-sizing: border-box;
}