@import "../../tokens/build/scss/variables";
.body {
  width: 100%;
  height: 100vh;
  background: $primary-7;
  display: flex;
  justify-content: center;
  align-items: center;
  .login-form-container {
    border-radius: $border-radius-base;
    width: 350px;
    background: $neutral-1;
    padding: $padding-xl;
    .text {
      text-align: center;
      white-space: nowrap;
      font-weight: 500;
      font-size: $text-size-base;
    }
    .required {
      color: $primary-5;
    }
    .logo-wrapper {
      text-align: center;
    }
    .password-input{
        position: relative;
        
        .lock{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 10px;
            z-index: 2;
        }
    }
    .login-btn {
      width: 100%;
    }
  }
}
