@import "../../../../tokens/build/scss/variables";
.list-container {
  border: $border-width-base $border-color-base $border-style-base;
  border-radius: $border-radius-base;
  padding: $padding-sm;
  margin-bottom: $margin-sm;

  p {
    margin: 0;
    font-weight: 500;
  }
  .done {
    text-decoration: line-through;
  }
  &.is-done {
    background-color: $primary-1;
  }
}
