<div>
  <app-card>
    <div class="card-style card-pxy">
      <div>
        <h5 nz-typography>Organization Chart</h5>
        <p nz-typography class="text-secondary font-medium mb-2">
          Represent the structure of organization, displaying the hierarchy of
          role and reporting relationships.
        </p>
      </div>
      <nz-tabset>
        <nz-tab nzTitle="Organization Chart List">
          <div class="d-lg-flex align-items-end justify-content-between pb-3">
            <div class="row col-lg-6">
              <div class="col-lg-6">
                <label for="allSearch" nz-typography class="font-medium"
                  >All Search</label
                >
                <input nz-input placeholder="All Search " id="allSearch" />
              </div>
              <div class="col-lg-6">
                <label for="country" nz-typography class="font-medium"
                  >Country</label
                >
                <nz-select nzPlaceHolder="Please Select" class="d-block">
                  <nz-option nzValue="Opt1" nzLabel="All"></nz-option>
                  <nz-option nzValue="Opt2" nzLabel="Myanmar"></nz-option>
                  <nz-option nzValue="Opt3" nzLabel="Singapore"></nz-option>
                  <nz-option nzValue="Opt4" nzLabel="Thailand"></nz-option>
                </nz-select>
              </div>
            </div>
            <div class="pt-2">
              <button
                nzType="primary"
                (click)="callModal('Create Organization Chart')"
                nz-button
              >
                <i class="fi fi-rr-add p-1"></i>create
              </button>
            </div>
          </div>

          <div class="overflow-auto">
            <nz-table
              #Table
              [nzShowSizeChanger]="true"
              [nzShowTotal]="range"
              [nzData]="chartList"
            >
              <thead>
                <tr>
                  <th [nzShowSort]="true">Name</th>
                  <th [nzShowSort]="true">Country</th>
                  <th [nzShowSort]="true">Date From</th>
                  <th [nzShowSort]="true">Date To</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let chart of Table.data">
                  <td>{{ chart.chart_name }}</td>
                  <td>
                    <nz-tag [nzColor]="countryTagColor[chart.region]">{{
                      chart.region
                    }}</nz-tag>
                  </td>
                  <td>{{ chart.start_date }}</td>
                  <td>{{ chart.end_date }}</td>
                  <td>
                    <i
                      class="fi fi-rr-eye mx-1"
                      (click)="toggleModalView()"
                    ></i>
                    <i class="fi fi-rr-download mx-1"></i>
                    <i
                      class="fi fi-rr-edit mx-1"
                      (click)="callModal('Edit Organization Chart')"
                    ></i>
                    <i
                      class="fi fi-rr-trash mx-1"
                      (click)="confirmBox()"
                      *ngIf="chart.can_remove"
                    ></i>
                  </td>
                </tr>
              </tbody>
            </nz-table>

            <ng-template #range let-range="range" let-total class="float-left">
              <p nz-typography class="font-bold">
                Showing {{ range[0] }} to {{ range[1] }} of {{ total }} entries
              </p>
            </ng-template>
          </div>
        </nz-tab>
        <nz-tab nzTitle="Singapore Organization Structure">
          <div class="chart">
            <img src="../../../assets/chart/Singapore.png" alt="" />
          </div>
        </nz-tab>
        <nz-tab nzTitle="Myanmar Organization Structure">
          <div class="chart">
            <img src="../../../assets/chart/Myanmar.png" alt="" />
          </div>
        </nz-tab>
        <nz-tab nzTitle="Thailand Organization Structure">
          <div class="chart">
            <div *ngIf="imgSrc !== ''; else empty">
              <img
              
              src="../../../assets/chart/{{imgSrc}}"
              alt=""
            />
            </div>
            
            <ng-template #empty>
              <nz-empty
                nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
                [nzNotFoundContent]="contentTpl"
              >
                <ng-template #contentTpl>
                  <span>
                    There is no organization chart right now
                  </span>
                </ng-template>
              </nz-empty>
            </ng-template>
          </div>
        </nz-tab>
      </nz-tabset>
    </div>
  </app-card>

  <div>
    <!-- modalbox for create , edit  -->
    <nz-modal
      [(nzVisible)]="isVisibleCreateEdit"
      [nzTitle]="modalTitle"
      nzCloseIcon="close"
      (nzOnCancel)="toggleModal()"
      nzNoAnimation
    >
      <ng-container *nzModalContent>
        <div class="pb-3">
          <label for="Name" nz-typography class="font-medium">Name</label>
          <input nz-input placeholder="Name" id="Name" />
        </div>
        <div class="pb-3">
          <label for="country" nz-typography class="font-medium">Country</label>
          <nz-select nzPlaceHolder="Please Select" class="d-block">
            <nz-option nzValue="Opt1" nzLabel="All"></nz-option>
            <nz-option nzValue="Opt2" nzLabel="Myanmar"></nz-option>
            <nz-option nzValue="Opt3" nzLabel="Singapore"></nz-option>
            <nz-option nzValue="Opt4" nzLabel="Thailand"></nz-option>
          </nz-select>
        </div>
        <div class="pb-3">
          <label for="createdDate" nz-typography class="font-medium"
            >Created Date</label
          >
          <nz-date-picker class="d-block"></nz-date-picker>
        </div>
        <div class="pb-3">
          <nz-upload
            nzType="drag"
            [nzMultiple]="true"
            nzListType="picture"
            [nzShowUploadList]="false"
            [(nzFileList)]="fileList"
            [nzFileListRender]="FileLists"
          >
            <p class="ant-upload-drag-icon mb-0">
              <i class="fi fi-rr-upload fs-4"></i>
            </p>
            <p class="ant-upload-text">
              Click or drag file to this area to upload
            </p>
            <p class="ant-upload-hint">Only .csv file supported</p>
          </nz-upload>
          <ng-template #FileLists let-list>
            <div class="list-wrapper">
              <span class="list-item" *ngFor="let item of list">
                <div class="d-flex align-items-center">
                  <i class="fi fi-rr-file fs-4 pt-1 pe-1"></i>
                  <span nz-typography nzEllipsis>{{ item.name }}</span>
                </div>

                <i class="fi fi-rr-trash fs-6" (click)="removeFile(item)"></i>
              </span>
            </div>
          </ng-template>
        </div>
        <div>
          <label for="remake" nz-typography class="font-medium">Remark</label>
          <textarea
            nz-input
            placeholder="Remark"
            cdkTextareaAutosize
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="4"
          ></textarea>
        </div>
      </ng-container>
      <ng-container *nzModalFooter>
        <button nz-button (click)="toggleModal()">Cancel</button>
        <button nz-button nzType="primary" (click)="toggleModal()">
          Create
        </button>
      </ng-container>
    </nz-modal>
    <!-- modalbox for view chart -->
    <nz-modal
      [(nzVisible)]="isVisibleViewChart"
      nzTitle="Chart"
      nzCloseIcon="close"
      (nzOnCancel)="toggleModalView()"
      nzNoAnimation
    >
      <ng-container *nzModalContent>
        <div class="chart-on-modal">
          <img src="../../../assets/chart/Myanmar.png" class="w-100" alt="" />
        </div>
      </ng-container>
      <ng-container *nzModalFooter>
        <button nz-button (click)="toggleModalView()">Ok</button>
      </ng-container>
    </nz-modal>
  </div>
</div>
