@import "../../../tokens/build/scss/variables";
.chart {
  width: 100%;
  aspect-ratio: 2/1;
  border: $border-color-base $border-width-base $border-style-base;
  border-radius: $border-radius-base;
  box-sizing: border-box;
  padding: $padding-sm;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
.list-wrapper {
    display: flex;
    flex-direction: column;
    gap: $padding-xxs;
    padding: $padding-xxs;
  .list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $text-color;
    border: $border-color-base $border-style-base $border-width-base;
    border-radius: $border-radius-base;
    padding: 0 $padding-sm;
    div{
        display: flex;
        align-items: center;
        width: 90%;
        span{
        width: 90%;
    }
    }
    
  }
}
