@import "../../../../tokens/build/scss/variables";
.drop-down-menu {
  display: none;
  visibility: hidden;
  position: absolute;
  left: 50%;
  bottom: 0%;
    text-align: left;
  transform: translateY(109%) translateX(-50%);
  background: $neutral-1;
  padding: $padding-md;
  border-radius: $border-radius-base;
  -webkit-box-shadow: 0px 5px 10px -2px #878787;
  box-shadow: 0px 3px 10px -2px #878787;
  &.is-open{
    display: inline-block;
    visibility: visible;
  }
}
