@import "../../../../tokens/build/scss/variables";
.dropDown{

  visibility: hidden;
  display: none;
  position: absolute;
  top: 110%;
  right: 50%;
  transform: translateX(50%);
  background-color: $neutral-1;
  padding: $padding-sm;
  border-radius: $border-radius-base;
  box-shadow: 0px 1px 10px 1px $neutral-5;
  margin-top: $margin-xxs;
  text-align: start;
  flex-direction: column;
  gap: $padding-sm;

  &.is-open{
    visibility: visible;
    display: flex;
  }
}