@import "../../../../tokens/build/scss/variables";

.header-container {
  background: $neutral-3;
  padding: $padding-md $padding-lg;
  z-index: 3000;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  nav {
    height: 47px;
    background: $neutral-1;
    display: flex;
    flex-wrap: nowrap;
    border-radius: $border-radius-base;
    padding: $padding-xxs 0;

    .nav-item {
      height: 100%;
      position: relative;
      display: inline-block;
      padding: $padding-xs $padding-sm;
      text-decoration: none;
      color: $text-color;
      border-radius: $border-radius-base;
      margin: 0 $margin-xxs;
      .menu-item {
        display: flex;
        a {
          width: 50px;
          aspect-ratio: 1/1;
        }
      }
      &.active {
        background: $primary-base;
        color: $neutral-1;
      }
    }
  }
  #user-section {
    gap: $padding-xs;
    height: 47px;
    div {
      height: 100%;
      background: $neutral-1;
      padding: $padding-xxs;
      border-radius: $border-radius-base;
    }
  }
  .cshadow {
    -webkit-box-shadow: 0px 3px 10px -2px #878787;
    box-shadow: 0px 3px 10px -2px #878787;
  }
}
.dropdown-menu-item {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: $margin-sm;
  p{
    color: $text-color;
    font-weight: 400;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px !important;
    height: 48px;
    aspect-ratio: 1/1;
    padding: 12px !important;
  }
  div {
    text-align: left;
    small {
      color: $text-color-secondary;
    }
  }
}
