@import "../../../../tokens/build/scss/variables";

.header-container {
  background: $neutral-3;
  padding: $padding-lg $padding-xl;
  position: sticky;
  top: 0;
  z-index: 3000;
  nav {
    background: $neutral-1;
    display: inline-block;
    border-radius: $border-radius-base;
    padding: $padding-xxs 0;


    .nav-item {
      position: relative;
      display: inline-block;
      padding: $padding-xs;
      text-decoration: none;
      color: $text-color;
      border-radius: $border-radius-base;
      margin: 0 $margin-xxs ;
      &.active {
        background: $primary-base;
        color: $neutral-1;
      }
    }
  }
  #user-section {
    gap: $padding-xs;
    div {
      background: $neutral-1;
      padding: $padding-xxs;
      border-radius: $border-radius-base;

      img {
        border-radius: $border-radius-base;
      }
      .logout {
        color: $text-color;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        aspect-ratio: 1/1;
      }
    }
  }
  .cshadow {
    -webkit-box-shadow: 0px 3px 10px -2px #878787;
    box-shadow: 0px 3px 10px -2px #878787;
  }
}
