/* Importing Bootstrap SCSS file. */
/* Load specific weights you need */
@import "@fontsource/poppins/300.css";
@import "@fontsource/poppins/400.css";
// @import "@fontsource/poppins/500.css";

@import "~bootstrap/scss/bootstrap";
@import "~@flaticon/flaticon-uicons/css/all/all";
@import "./tokens/build/scss/variables";

* {
  padding: 0;
  font-family: "Poppins";
  font-weight: 400;
}
p {
  font-weight: 400;
}

main {
  background: $neutral-3;
  padding: 0 $padding-lg;
}
