/* Importing Bootstrap SCSS file. */
/* Load specific weights you need */
@import "@fontsource/poppins/300.css";
@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/500.css";

@import "~bootstrap/scss/bootstrap";
@import "~@flaticon/flaticon-uicons/css/all/all";
@import "./tokens/build/scss/variables";

* {
  padding: 0;
  font-family: "Poppins";
  font-weight: 400;
}
p {
  font-weight: 400;
}

body {
  background: $neutral-3;
}
// style Dic
.text-secondary {
  color: $text-color-secondary;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
small,
i,
label {
  font-weight: 300;
  &.secondary-text {
    color: $text-color-secondary;
  }
  &.font-medium {
    font-weight: 400;
  }
  &.font-bold {
    font-weight: 500;
  }
}
p,
label {
  font-size: $text-size-base;
  padding: 0;
  margin: 0;
}

.small
{
  font-size: $text-size-sm;
}
a {
  text-decoration: none;
}
.square {
  width: 50px !important;
  aspect-ratio: 1/1;
}

// Card Style For Card Content
.card-style {
  padding: 0 $padding-lg;

  // optional class to add the padding
  &.card-pxy {
    padding: $padding-lg;
  }
  .card-pxy {
    padding: $padding-lg;
  }
  &.card-pXonly {
    padding: 0 $padding-lg;
  }
  .card-pXonly {
    padding: 0 $padding-lg;
  }
  &.card-pYonly {
    padding: $padding-lg 0;
  }
  .card-pYonly {
    padding: $padding-lg 0;
  }
  // If you want sticky header & scroll you can use this class
  .card-fixed-header {
    background: $neutral-1;
    padding-top: $padding-lg;
    padding-bottom: $padding-sm;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    // if need left and right header use this
    &.flex-justify-between {
      display: flex;
      justify-content: space-between;
    }
  }
}

// table style
table {
  thead {
    background: $background-custom-color-light;
    font-weight: 400;
    white-space: nowrap;
  }
  tbody {
    font-weight: 300;
    white-space: nowrap;
  }
}
//custom style change

.ant-table-column-title
{

    font-weight: 400;
}
.ant-table-thead tr th {
  background: $background-custom-color-light;
}
.ant-pagination-item-active {
  background: $primary-color-active;
}
.ant-pagination-item a {
  text-decoration: none;
  color: $neutral-1;
}
.ant-pagination-item a :hover {
  text-decoration: none;
  color: $neutral-1;
}
.ant-pagination-item-active a {
  text-decoration: none;
  color: $neutral-1;
}
.ant-table-pagination {
  display: block;
  text-align: end;
}

.ant-pagination-total-text {
  float: left;
}
.ant-pagination-prev,
.ant-pagination-next {
  text-align: center;
}
